<div class="container">
    <div class="botton-bar">
        <div class="botton-bar__info">
            <p>ĐẠI LÝ PHÂN PHỐI THIẾT BỊ ĐIỆN AN KHANG</p>
            <br />
            <p>VP Hà Nội: G58, Khu đô thị Xa La, Hà Đông, Hà Nội</p>
            <p>
                VP Đà Nẵng: Lô 9 KĐT Phương Trang, Đường Hoàng Thị Loan, P. Hòa
                Minh, Quận Liên Chiểu,Đà Nẵng
            </p>
            <p>
                VP Hồ Chí Minh: 281 Nam Kỳ Khởi Nghĩa, Phường 14, Quận 3, Thành
                phố Hồ Chí Minh
            </p>
            <br />
            <div class="botton-bar__info__contact">
                <span>Liên hệ: Ms. Uyên 0829.666.456</span>
            </div>
        </div>
        <div class="botton-bar__product">
            <span> SẢN PHẨM</span>
            <ul>
                <li>
                    <a href="#!">Dây cáp điện</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện công nghiệp</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện dân dụng (Công tắc- Ổ Cắm)</a>
                </li>
                <li>
                    <a href="#!">Thiết bị chiếu sáng</a>
                </li>
                <li>
                    <a href="#!">Tụ bù- Cuộn kháng Reactor</a>
                </li>
                <li>
                    <a href="#!">Vật tư phụ</a>
                </li>
            </ul>
        </div>

        <div class="botton-bar__support"></div>
    </div>
    <div class="float-contact">
        <!-- <div class="chat-face">
            <a href="#!" target="blank">
                <img alt="messenger" src="/assets/icon/mess.png" />
            </a>
        </div> -->

        <div class="zalo">
            <a href="https://zalo.me/0829666456" target="blank">
                <img alt="zalo" src="/assets/icon/zalo.png" />
            </a>
            <a href="https://zalo.me/0829666456" target="blank"
                >0829.666.456
            </a>
        </div>

        <div class="hotline">
            <a href="tel:0829666456">
                <img alt="hotline" src="/assets/icon/hotline.png" />
            </a>
            <a href="tel:0829666456">0829.666.456 </a>
        </div>
    </div>
</div>
