<div class="container">
    <div class="top-bar">
        <div class="sub-header">
            <ul class="sub-header__list">
                <li class="sub-header__link">
                    <a href="">Tải ứng dụng trên điện thoại</a>
                </li>
                <li class="sub-header__link">
                    <a href="">Hệ thống 98 chi nhánh</a>
                </li>
                <li class="sub-header__link">
                    <a href="">Chính sách bảo hành & 35 ngày đổi trả</a>
                </li>
                <li class="sub-header__link">
                    <a href="">Góp ý & phản hồi</a>
                </li>
            </ul>
            <div class="actions">
                <a href="#!" class="btn"> Register</a>
                <a href="#!" class="btn"> login</a>
            </div>
        </div>
        <div class="body-header">
            <div class="body-header__logo">
                <a href="/">
                    <img
                        src="/assets/img/logo-tbd-an-khang.png"
                        alt="logo-tbd-an-khang"
                    />
                </a>
            </div>
            <div class="body-header__box">
                <div class="search-box">
                    <form action="/action_page.php">
                        <input
                            type="text"
                            placeholder="Tìm kiếm.."
                            name="search"
                        />
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="body-header__contact">
                <!-- <div class="body-header__contact__details">
                    <img
                        src="./assets/icon/call-dropped-svgrepo-com.svg"
                        alt="hotline"
                        class="body-header__contact__details__icon"
                    />
                    <div class="body-header__contact__details__call">
                        <span>Khiếu nại</span>
                        <a
                            href="#!"
                            class="body-header__contact__details__call_phone"
                        >
                            0989.555.555</a
                        >
                    </div>
                </div> -->
                <div class="body-header__contact__details">
                    <img
                        src="/assets/icon/call-dropped-svgrepo-com.svg"
                        alt="Hotline"
                        class="icon body-header__contact__details__icon"
                    />
                    <div class="body-header__contact__details__call">
                        <span>Hotline bán hàng</span>
                        <a href="tel:0829666456">0829.666.456</a>
                    </div>
                </div>
                <!-- <div class="body-header__contact__details">
                    <img
                        src="./assets/icon/call-dropped-svgrepo-com.svg"
                        alt="hotline"
                        class="body-header__contact__details__icon"
                    />
                    <div class="body-header__contact__details__call">
                        <span>Tư vấn kỹ thuật</span>
                        <a href="#!"> 0989.555.555</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <nav class="navbar">
        <span>DANH MỤC SẢN PHẨM</span>
        <div class="navbar__list">
            <a class="navbar__list__details" href="">TIN TỨC</a>
            <a class="navbar__list__details document" href="/bang-gia.html"
                >BẢNG GIÁ</a
            >
            <a class="navbar__list__details document" href="/catalog.html"
                >CATALOG</a
            >
            <a class="navbar__list__details" href="">CHÍNH SÁCH BÁN HÀNG</a>
            <a class="navbar__list__details" href="">DIỄN ĐÀN</a>
        </div>
    </nav>
</div>
