<div class="body-page__right">
    <a href="/day-cap-dien/day-cap-dien-cadisun.html">
        <img
            src="/assets/img/day-cap-dien-cadisun.png"
            alt="DÂY CÁP ĐIỆN CADISUN"
        />
        <h2 class="body-page__right_h2">Dây cáp điện Cadisun</h2>
    </a>
    <a href="/day-cap-dien/day-cap-dien-tran-phu.html">
        <img
            src="/assets/img/day-cap-dien-tran-phu-cable.png"
            alt="DÂY CÁP ĐIỆN Trần Phú Cable"
        />
        <h2 class="body-page__right_h2">Dây cáp điện Trần Phú</h2>
    </a>
    <a href="/day-cap-dien/day-cap-dien-LS-vina.html">
        <img
            src="/assets/img/day-cap-dien-LS cable.png"
            alt="DÂY CÁP ĐIỆN LS-vina cable"
        />
        <h2 class="body-page__right_h2">Dây cáp điện LS-vina</h2>
    </a>
    <a href="/day-cap-dien/day-cap-dien-goldcup.html">
        <img
            src="/assets/img/day-cap-dien-goldcup-cable.png"
            alt="DÂY CÁP ĐIỆN Goldcup cable"
        />
        <h2 class="body-page__right_h2">Dây cáp điện Goldcup</h2>
    </a>
    <a href="/day-cap-dien/day-cap-dien-cadivi.html">
        <img
            src="/assets/img/day-cap-dien-cadivi-cable.png"
            alt="DÂY CÁP ĐIỆN Cadivi cable"
        />
        <h2 class="body-page__right_h2">Dây cáp điện Cadivi</h2>
    </a>
    <a href="/day-cap-dien/day-cap-dien-cadigold.html">
        <img
            src="/assets/img/day-cap-dien-cadigold.png"
            alt="DÂY CÁP ĐIỆN cadigold cable"
        />
        <h2 class="body-page__right_h2">Dây cáp điện Cadigold</h2>
    </a>
</div>
