@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color: #1a162e;
  --background-color: #efefef;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6 rem;
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  width: 24px;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.contac-bar, .top-act__btn, .top-act, .navbar__link, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.sticky {
  background: #c5b8b8;
  opacity: 1;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.sticky .logo__img {
  width: 70px;
}
.sticky .top-bar {
  padding: 10px 0 10px 0;
}

.top-bar {
  padding: 20px 0;
  gap: 30px;
  justify-content: space-around;
  position: relative;
}
@media (max-width: 991.98px) {
  .top-bar {
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 0px;
  }
}

.navbar {
  flex-grow: 1;
}
@media (max-width: 991.98px) {
  .navbar {
    order: 4;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  }
}
.navbar__list {
  justify-content: flex-end;
}
@media (max-width: 991.98px) {
  .navbar__list {
    justify-content: space-around;
    background: #fff;
  }
}
.navbar__item:first-child a {
  padding-left: 0;
}
.navbar__item:last-child a {
  padding-right: 0;
  border-right: 0;
}
.navbar__item:hover .dropdown {
  display: block;
}
.navbar__link {
  border-right: 1px solid #efefef;
  padding: 0 10px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.navbar__link:hover {
  color: red;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .navbar__link {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .navbar__link {
    height: 30px;
  }
}

.top-act {
  gap: 10px;
}
.top-act__btn {
  padding: 13px;
  gap: 10px;
  background-color: #eee;
  border-radius: 20%;
  min-width: 70px;
  cursor: pointer;
}
.top-act__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 146.667%;
}
.top-act__user {
  cursor: pointer;
}
.top-act__avatar {
  display: block;
  width: 55px;
  border-radius: 20%;
}

.contac-bar {
  gap: 10px;
}
.contac-bar__hotline {
  font-size: 3rem;
  font-weight: 700;
  line-height: 146.667%;
  color: red;
}

footer {
  background: var(--background-color);
}

.botton-bar {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  align-items: center;
  padding: 20px 25px;
  margin-top: 24px;
  border: 1px solid #b3b2b2;
}
.botton-bar__info {
  color: red;
  font-size: 24px;
}
.botton-bar__info :first-child {
  font-size: 3.8rem;
}
.botton-bar__info__contact {
  display: flex;
  font-size: 2rem;
  font-weight: 700;
}
.botton-bar__product {
  display: block;
  color: var(--text-color);
  border-left: 2px solid red;
  padding-left: 16px;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 991.98px) {
  .botton-bar__product {
    display: none;
  }
}
.botton-bar__product span {
  padding-left: 24px;
}
.botton-bar__product a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
}

.contact-all-in-on {
  position: fixed;
  display: block;
  align-items: center;
  bottom: 40px;
  left: 40px;
}

.button-contact {
  ---color-background-zalo: #5092fc;
  ---color-background-phone: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
@media (max-width: 575.98px) {
  .button-contact {
    padding-top: 30px;
  }
}
.button-contact__border {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: zoom 1.5s ease infinite;
  background: var(---color-background-zalo);
}
@media (max-width: 575.98px) {
  .button-contact__border {
    width: 50px;
    height: 50px;
  }
}
.button-contact__item {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10%;
  background-color: var(---color-background-zalo);
}
.button-contact__link {
  color: #fff;
}
.button-contact__img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
}
@media (max-width: 575.98px) {
  .button-contact__img {
    width: 30px;
    height: 30px;
  }
}
.button-contact__content {
  width: 150px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  margin-left: 20px;
  display: none;
}

.phone-ct {
  background: var(---color-background-phone);
}

@keyframes zoom {
  0% {
    scale: 100%;
    opacity: 0.9;
  }
  50% {
    scale: 150%;
    opacity: 0.5;
  }
  100% {
    scale: 100%;
    opacity: 0.9;
  }
}
.introduce {
  width: 100%;
  background: var(--background-color);
  border-radius: 6px;
}
.introduce .introduce-top {
  text-align: center;
  line-height: 1.6;
  font-size: 1.6rem;
  margin-top: 12px;
}
.introduce .introduce-top h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 24px 0px 12px;
}
@media (max-width: 767.98px) {
  .introduce .introduce-top h1 {
    font-size: 32px;
  }
}
.introduce .introduce-top h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 24px 0px 12px;
}
@media (max-width: 767.98px) {
  .introduce .introduce-top h2 {
    font-size: 24px;
  }
}
.introduce .introduce-top img {
  width: 16px;
}
.introduce .introduce-top p {
  color: var(--text-color);
}
.introduce .introduce-top a {
  font-size: 2.2rem;
  color: blue;
  font-weight: 500;
}
.introduce .introduce-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0px 12px;
}
.introduce .introduce-body__item {
  width: 30%;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .introduce .introduce-body__item {
    display: none;
  }
}
.introduce .introduce-body__item span {
  width: 62%;
}
.introduce .introduce-body__item span h4 {
  font-weight: 600;
  border-bottom: 1px solid var(--text-color);
}
.introduce .introduce-body__item span P {
  padding-top: 5px;
  line-height: 1.4;
}
.introduce .introduce-body__item__icon1 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: 0px 0px;
}
.introduce .introduce-body__item__icon2 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: -64px 0px;
}
.introduce .introduce-body__item__icon3 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: -320px 0px;
}
.introduce .introduce-body__item__icon4 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: -128px 0px;
}
.introduce .introduce-body__item__icon5 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: -192px 0px;
}
.introduce .introduce-body__item__icon6 {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(/assets/icon/introduction.png);
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  background-position: -256px 0px;
}

.postsp {
  padding: 24px 0px;
}
.postsp .price-list {
  text-align: center;
}
.postsp .price-list :hover {
  color: var(--text-color);
}
.postsp .price-list img {
  width: 30px;
  margin-bottom: -8px;
}
.postsp .price-list a {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: blue;
  border-bottom: 1px solid var(--background-color);
}
.postsp .postsp--LS {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6px 12px;
  padding-top: 24px;
}
.postsp .postsp--LS p {
  display: flex;
  width: 100%;
  background: var(--background-color);
  border: 1px solid black;
}
.postsp .postsp--LS :hover {
  color: var(--text-color);
}
.postsp .postsp--LS img {
  width: 16px;
  padding-left: 5px;
}
.postsp .postsp--LS a {
  width: 100%;
  padding: 6px;
  color: blue;
}

.page--contact {
  display: block;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 6px 12px;
  padding-top: 24px;
}
@media (max-width: 991.98px) {
  .page--contact {
    display: block;
  }
}
.page--contact p {
  font-size: 1.8rem;
  font-weight: 600;
}
.page--contact img {
  width: 30px;
  margin-bottom: -8px;
}
@media (max-width: 991.98px) {
  .page--contact img {
    display: none;
  }
}
.page--contact a {
  font-size: 2.2rem;
  padding-left: 10px;
}
@media (max-width: 991.98px) {
  .page--contact a {
    font-size: 1.6rem;
  }
}

.body-page__right {
  justify-content: center;
  background: var(--background-color);
  width: 230px;
}
@media (max-width: 991.98px) {
  .body-page__right {
    display: none;
  }
}
.body-page__right a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  /* Hover vào toàn bộ thẻ a */
}
.body-page__right a img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.body-page__right a h2 {
  font-size: 1.6rem;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.body-page__right a:hover {
  background: #fad6d6; /* nền trắng */
}
.body-page__right a:hover h2 {
  font-weight: 700;
  color: red; /* chữ đỏ + in đậm */
}

.product__tille {
  color: var(--text-color);
  width: calc(100% - 10px);
  background-color: #fffefe;
  border-radius: 0px 12px 0px 0px;
  font-weight: 700;
  padding: 20px 0px 4px 10px;
  font-size: 20px;
}
.product__group {
  display: flex;
  border-top: 5px solid red;
}
.product__group__producer {
  display: grid;
  width: 156px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: rgb(239, 239, 239);
  gap: 6px 6px;
}
@media (max-width: 575.98px) {
  .product__group__producer {
    display: none;
  }
}
.product__group__producer :hover img {
  background: #fff;
}
.product__group__producer img {
  width: 75px;
  height: 75px;
}
.product__group__list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(8, 1fr);
  gap: 6px 6px;
}
@media (max-width: 1199.98px) {
  .product__group__list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 767.98px) {
  .product__group__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 575.98px) {
  .product__group__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.product__group__list :hover .product__group__list__item__product > img {
  background: #dbdbdb;
}
.product__group__list :hover h3 {
  background: red;
  color: #fff;
  text-shadow: none;
}
.product__group__list__item {
  border: 1px solid rgb(239, 239, 239);
}
.product__group__list__item__product > img {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  margin-bottom: 4px;
  text-align: center;
  background: #fff;
  transition: 500ms;
}
.product__group__list__item__product > img__logo {
  height: 50px;
}
.product__group__list__item__product > h3 {
  width: 100%;
  min-height: 80px;
  text-align: center;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 1.6;
  background: #fff;
  border-radius: 4px;
  padding: 6px 0px;
  transition: 500ms;
}
.product__group__list__item__logo img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575.98px) {
  .iconsm {
    display: none;
  }
}

.article {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .article {
    flex-direction: column;
  }
}

.article-content {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 145%;
  padding-bottom: 12px;
  text-indent: 36px;
  text-align: justify;
}
@media (max-width: 991.98px) {
  .article-content {
    order: 2;
  }
}
.article-content h1 {
  position: relative;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 145%;
  padding: 24px 0;
  margin-bottom: 48px;
  text-indent: 0px;
}
@media (max-width: 1199.98px) {
  .article-content h1 {
    font-size: 2.6rem;
    padding-bottom: 16px;
    margin: 0;
  }
}
.article-content h1:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 150px;
  border-bottom: 3px solid red;
}
.article-content h1 span {
  font-size: 4rem;
  color: rgb(255, 0, 0);
}
@media (max-width: 1199.98px) {
  .article-content h1 span {
    font-size: 3rem;
  }
}
.article-content h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 145%;
  padding: 24px;
}
@media (max-width: 767.98px) {
  .article-content h2 {
    padding-left: 0;
    text-indent: 0px;
  }
}
.article-content h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 145%;
  padding: 12px;
}
@media (max-width: 767.98px) {
  .article-content h3 {
    padding-left: 0;
    text-indent: 0px;
  }
}
.article-content__img1 {
  display: block;
  margin: auto;
  text-align: center;
  margin: 24px 0;
  text-indent: 0px;
}
.article-content__img1 img {
  width: 100%;
}
.article-content__img2 {
  display: block;
  margin: auto;
  text-align: center;
  margin: 24px 0;
  text-indent: 0px;
}
.article-content__img2 img {
  width: 50%;
}
.article-content__img3 {
  display: block;
  margin: auto;
  text-align: center;
  margin: 24px 0;
  text-indent: 0px;
}
.article-content__img3 img {
  width: 25%;
}
.article-content__info {
  display: flex;
  align-items: center;
}
.article-content__content {
  color: #5224f8;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 145%;
  padding: 6px 12px;
  text-indent: 0px;
}
.article-content__keyword {
  padding: 12px 0;
  margin-top: 12px;
  color: #dddddd;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.4rem;
  line-height: 145%;
  border-top: 1px solid #dddddd;
}

table {
  border-collapse: collapse;
  border-bottom: 1px solid #eee;
  width: 80%;
  margin: auto;
}
@media (max-width: 1199.98px) {
  table {
    width: 100%;
    margin-top: 24px;
  }
}
table img {
  height: 20px;
}
table .btn-download {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  height: 30px;
  align-items: center;
  color: blue;
  text-decoration: underline;
}

th,
td {
  border-top: 1px solid #eee;
  text-align: center;
  height: 40px;
  vertical-align: middle;
}
@media (max-width: 767.98px) {
  th,
  td {
    font-size: 1.5rem;
  }
}

th {
  background-color: #faaaaa;
  font-size: 1.8rem;
  font-weight: 500;
}
@media (max-width: 767.98px) {
  th {
    font-size: 1.5rem;
  }
}

tr:nth-child(even) {
  background: #eee;
}

.col-left {
  text-align: left;
}

/* Nội dung có thể thu gọn */
.text-collapse__content {
  max-height: 750px; /* ban đầu chỉ hiện 200px */
  overflow: hidden;
  position: relative;
  transition: max-height 0.4s ease;
}

/* Khi mở rộng */
.text-collapse__content.expanded {
  max-height: none; /* mở toàn bộ nội dung */
}

/* Nút xem thêm */
.text-collapse__toggle {
  display: block;
  width: 100%; /* chiếm hết chiều ngang cha */
  text-align: center;
  padding: 10px 16px;
  margin-top: 10px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #333;
  background: #f5bebe;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-collapse__toggle:hover {
  background: #e0e0e0;
  color: red;
}

.text-collapse__toggle:active {
  transform: scale(0.98);
}

.logo {
  display: flex;
  align-items: center;
  max-width: 150px;
  max-height: 70px;
}
.logo__img {
  margin: auto;
  width: 100px;
}
@media (max-width: 767.98px) {
  .logo__img {
    width: 70px;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  width: min(1240px, 100%);
  padding-top: 20px;
  display: none;
}
.dropdown__inner {
  --inner-padding: 30px;
  position: relative;
  padding: var(--inner-padding);
  background-color: #efefef;
  border-radius: 4%;
}
@media (max-width: 991.98px) {
  .dropdown {
    width: 280px;
    left: auto;
  }
}

.top-menu {
  --main-column-width: 250px;
  position: relative;
}
.top-menu__main {
  width: var(--main-column-width);
  height: calc(min(582px, 100vh - 140px) - var(--inner-padding) * 2);
  border-right: 1px solid #c9c9c9;
  overflow: auto;
}
@media (max-width: 991.98px) {
  .top-menu__main {
    height: auto;
    border: 0;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
.menu-column__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
}
.menu-column__content {
  flex: 1;
}
.menu-column__icon-1 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.menu-column__heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 5px;
}
.menu-column__list {
  margin-top: 19px;
}
.menu-column__item:hover .sub-menu {
  display: grid;
}
.menu-column__item:hover > .menu-column__link {
  color: red;
  font-weight: 500;
}
.menu-column__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 142.857%;
  padding: 7px 0;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  padding-left: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  overflow: auto;
}
.sub-menu .menu-column__heading {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  margin-top: 5px;
}
.sub-menu .menu-column__link {
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 100%;
  padding: 7px 0;
}

.slideshow {
  z-index: 0;
  position: relative;
}
.slideshow__inner {
  display: flex;
  overflow: hidden;
}
.slideshow__item {
  flex-shrink: 0;
  width: 100%;
}
.slideshow__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media (max-width: 1199.98px) {
  .slideshow__img {
    height: auto;
  }
}
.slideshow__page {
  --color: #fff;
  position: absolute;
  align-items: center;
  bottom: 5%;
  left: 15%;
  display: flex;
  column-gap: 24px;
}
.slideshow__num {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  color: var(--color);
}
.slideshow__slider {
  width: 100%;
  height: 4px;
  flex-shrink: 0;
  background: var(--color);
}
.slideshow__slider::before, .slideshow__slider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 4px solid var(--color);
  border-radius: 50%;
}
.slideshow__slider::before {
  left: 0;
  translate: 148% -50%;
}
.slideshow__slider::after {
  right: 0;
  translate: 320% -50%;
}

.home-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
}
.home-top .home__menu {
  display: block;
  justify-content: space-around;
  width: 25%;
  height: 350px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
}
@media (max-width: 767.98px) {
  .home-top .home__menu {
    width: 100%;
  }
}
.home-top .home__menu :hover {
  color: #fff;
  background: red;
}
.home-top .home__menu :hover .home__menu__list__sub {
  display: block;
}
.home-top .home__menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dotted var(--text-color);
  position: relative;
}
.home-top .home__menu__list > a {
  width: 100%;
  color: var(--text-color);
  padding: 10px 20px;
}
.home-top .home__menu__list > img {
  width: 20px;
}
.home-top .home__menu__list__sub {
  display: none;
  position: absolute;
  left: 100%;
  width: 300px;
  top: 0;
}
.home-top .home__menu__list__sub li > a {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid var(--background-color);
  background: #fff;
  color: var(--text-color);
}
.home-top .menu__poster {
  width: 75%;
  padding-left: 12px;
}
.home-top .menu__poster img {
  border-radius: 6px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media (max-width: 767.98px) {
  .home-top .menu__poster {
    display: none;
  }
}

.banner {
  display: none;
  align-items: center;
  gap: 15px;
  padding-top: 12px;
}
.banner__item {
  flex: 1;
}
.banner__item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.home-body {
  padding-top: 12px;
}

.map-path {
  display: flex;
  align-items: center;
  background: var(--background-color);
  font-size: 1.8rem;
  margin-top: 120px;
}
.map-path img {
  width: 20px;
  margin-bottom: -2px;
}
.map-path a {
  display: block;
  color: var(--text-color);
  vertical-align: middle;
  padding: 16px 16px 16px 30px;
  font-weight: 500;
}

.body-page {
  display: flex;
  justify-content: normal;
  justify-content: space-between;
  gap: 20px;
  padding-top: 12px;
  line-height: 1.6;
  text-indent: 20px;
}

/*# sourceMappingURL=main.css.map */
