html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(12%) sepia(77%)
        saturate(7448%) hue-rotate(359deg) brightness(101%) contrast(106%);

    --background-color: #efefef;
}
