@use "../abstracts";
footer {
    background: var(--background-color);
}
.botton-bar {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    align-items: center;
    padding: 20px 25px;
    margin-top: 24px;
    border: 1px solid #b3b2b2;

    &__info {
        :first-child {
            font-size: 3.8rem;
        }
        color: red;
        font-size: 24px;

        &__contact {
            display: flex;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &__product {
        display: block;
        color: var(--text-color);
        border-left: 2px solid red;
        padding-left: 16px;
        font-weight: 700;
        font-size: 24px;
        @include abstracts.breakpoint(lg) {
            display: none;
        }
        span {
            padding-left: 24px;
        }
        a {
            color: var(--text-color);
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.contact-all-in-on {
    position: fixed;
    display: block;
    align-items: center;
    bottom: 40px;
    left: 40px;
}

.button-contact {
    ---color-background-zalo: #5092fc;
    ---color-background-phone: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    @include abstracts.breakpoint(sm) {
        padding-top: 30px;
    }

    &__border {
        position: relative;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        animation: zoom 1.5s ease infinite;
        background: var(---color-background-zalo);
        @include abstracts.breakpoint(sm) {
            width: 50px;
            height: 50px;
        }
    }

    &__item {
        position: absolute;
        z-index: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 10%;

        background-color: var(---color-background-zalo);
        // &:hover .button-contact__content {
        //     display: block;
        // }
    }

    &__link {
        color: #fff;
    }
    &__img {
        width: 40px;
        height: 40px;
        border-radius: 10%;
        @include abstracts.breakpoint(sm) {
            width: 30px;
            height: 30px;
        }
    }
    &__content {
        width: 150px;
        font-size: 1.4rem;
        color: #fff;
        font-weight: 500;
        margin-left: 20px;
        display: none;
    }
}
.phone-ct {
    background: var(---color-background-phone);
}

@keyframes zoom {
    0% {
        scale: 100%;
        opacity: 0.9;
    }
    50% {
        scale: 150%;
        opacity: 0.5;
    }
    100% {
        scale: 100%;
        opacity: 0.9;
    }
}
