@use "../abstracts";
footer {
    background: var(--background-color);
}
.botton-bar {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
    align-items: center;
    padding: 20px 25px;
    margin-top: 24px;
    border: 1px solid #b3b2b2;

    &__info {
        :first-child {
            font-size: 3.8rem;
        }
        color: red;
        font-size: 24px;

        &__contact {
            display: flex;
            font-size: 2rem;
            font-weight: 700;
        }
    }
    &__product {
        display: block;
        color: var(--text-color);
        border-left: 2px solid red;
        padding-left: 16px;
        font-weight: 700;
        font-size: 24px;
        @include abstracts.breakpoint(lg) {
            display: none;
        }
        span {
            padding-left: 24px;
        }
        a {
            color: var(--text-color);
            font-size: 16px;
            font-weight: 400;
        }
    }
}

@media (min-width: 200px) {
    .float-contact {
        position: fixed;
        bottom: 40px;
        left: 40px;
    }
    .chat-face,
    .hotline,
    .zalo {
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 24px;
        border: 1px solid red;
        margin-top: 24px;
        background: red;
        @include abstracts.breakpoint(lg) {
            margin-top: 8px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 99999;
            @include abstracts.breakpoint(lg) {
                width: 20px;
                height: 20px;
            }
        }
        a {
            color: #fff;
            padding: 12px;
            font-size: 2.4rem;
            font-weight: 500;
            @include abstracts.breakpoint(lg) {
                font-size: 1.8rem;
                padding: 6px;
            }
        }
    }
}
