@use "../abstracts";

.introduce {
    width: calc(100% - 15px);
    background: var(--background-color);
    border-radius: 6px;
    .introduce-top {
        text-align: center;
        line-height: 1.6;
        font-size: 1.6rem;
        width: calc(100% - 30px);
        margin-top: 12px;
        h2 {
            font-size: 30px;
            font-weight: 700;
            padding: 24px 0px 12px;
        }
        img {
            width: 16px;
        }
        p {
            color: var(--text-color);
        }
        a {
            font-size: 2.2rem;
            color: blue;
            font-weight: 500;
        }
    }

    .introduce-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 0px 12px;
        &__item {
            width: 30%;
            display: flex;
            align-items: center;

            @include abstracts.breakpoint(md) {
                display: none;
            }
            span {
                width: 62%;
                h4 {
                    font-weight: 600;
                    border-bottom: 1px solid var(--text-color);
                }

                P {
                    padding-top: 5px;
                    line-height: 1.4;
                }
            }

            &__icon1 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: 0px 0px;
            }

            &__icon2 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: -64px 0px;
            }
            &__icon3 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: -320px 0px;
            }

            &__icon4 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: -128px 0px;
            }
            &__icon5 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: -192px 0px;
            }

            &__icon6 {
                display: inline-block;
                width: 64px;
                height: 64px;
                background-image: url(/assets/icon/introduction.png);
                background-repeat: no-repeat;
                float: left;
                margin-right: 8px;
                margin-top: 10px;
                margin-bottom: 50px;
                background-position: -256px 0px;
            }
        }
    }
}
