@use "../abstracts";
.body-page__right {
    justify-content: center;
    background: var(--background-color);
    width: 230px;
    @include abstracts.breakpoint(lg) {
        display: none;
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s ease;

        img {
            display: block;
            width: 150px;
            height: 150px;
            margin: 0 auto;
        }

        h2 {
            font-size: 1.6rem;
            margin-top: 10px;
            transition: all 0.3s ease;
        }

        /* Hover vào toàn bộ thẻ a */
        &:hover {
            background: #fad6d6; /* nền trắng */

            h2 {
                font-weight: 700;
                color: red; /* chữ đỏ + in đậm */
            }
        }
    }
}
