.postsp {
    padding: 24px 0px;
    // border: 1px solid var(--background-color);

    .price-list {
        text-align: center;
        :hover {
            color: var(--text-color);
        }
        img {
            width: 30px;
            margin-bottom: -8px;
        }
        a {
            display: inline-block;
            font-size: 2rem;
            font-weight: bold;
            color: blue;
            border-bottom: 1px solid var(--background-color);
        }
    }
    .postsp--LS {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 6px 12px;
        padding-top: 24px;

        p {
            display: flex;
            width: 100%;
            background: var(--background-color);
            border: 1px solid black;
        }

        :hover {
            color: var(--text-color);
        }
        img {
            width: 16px;
            padding-left: 5px;
        }
        a {
            width: 100%;
            padding: 6px;
            color: blue;
        }
    }
}
