@use "../abstracts";
.map-path {
    display: flex;
    align-items: center;
    background: var(--background-color);
    font-size: 1.8rem;
    margin-top: 120px;

    img {
        width: 20px;
        margin-bottom: -2px;
    }

    a {
        display: block;
        color: var(--text-color);
        vertical-align: middle;
        padding: 16px 16px 16px 30px;
        font-weight: 500;
    }
}

.body-page {
    display: flex;
    justify-content: normal;
    justify-content: space-between;
    gap: 20px;
    padding-top: 12px;
    line-height: 1.6;
    text-indent: 20px;
}
