@use "../abstracts";
.map-path {
    display: flex;
    align-items: center;
    background: var(--background-color);
    font-size: 1.8rem;
    margin-top: 30px;

    img {
        width: 20px;
        margin-bottom: -2px;
    }

    a {
        display: block;
        color: var(--text-color);
        vertical-align: middle;
        padding: 16px 16px 16px 30px;
        font-weight: 500;
    }
}

.body-page {
    display: flex;
    justify-content: normal;
    justify-content: space-between;
    padding-top: 12px;
    line-height: 1.6;
    text-indent: 20px;
    .page-conten {
        width: calc(100% - 300px);
        padding: 0px 20px;
        @include abstracts.breakpoint(lg) {
            width: 100%;
        }
        h1 {
            font-size: 4rem;
            font-weight: 700;
            padding: 24px;
            margin-bottom: 10px;
            border-bottom: 1px solid var(--background-color);
        }
        &__body {
            padding-top: 12px;
            font-size: 1.6rem;
            height: 500px;
            overflow: auto;
            img {
                width: 450px;
            }
            h2 {
                font-size: 2.4rem;
                font-weight: bold;
                padding: 0px 20px;
            }
            h3 {
                font-size: 1.8rem;
                font-weight: bold;
            }
            h4 {
                font-size: 1.6rem;
                font-weight: bold;
            }
            a {
                color: var(--text-color);
                font-weight: bold;
                font-style: italic;
            }
            ul {
                padding-left: 30px;
            }
        }
    }
}
