<!-- EBN53C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 3P (3 Pha) EBN53c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN53c.png"
                                alt="ELCB-3P-EBN53C-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN53c15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN53c.png"
                                alt="ELCB-3P-EBN53C-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN53c20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN53c.png"
                                alt="ELCB-3P-EBN53C-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN53c30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN53c.png"
                                alt="ELCB-3P-EBN53C-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN53c40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN53c.png"
                                alt="ELCB-3P-EBN53C-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN53c50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN103C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 3P (3 Pha) EBN103c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN103c.png"
                                alt="ELCB-3P-EBN103C-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN103c60A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN103c.png"
                                alt="ELCB-3P-EBN103C-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN103c75A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN103c.png"
                                alt="ELCB-3P-EBN103C-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN103c100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN203C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 3P (3 Pha) EBN203c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-150A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c150A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-175A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c175A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-200A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c200A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-225A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c225A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN203c.png"
                                alt="ELCB-3P-EBN203C-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN403C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 3P (3 Pha) EBN403c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN403c.png"
                                alt="ELCB-3P-EBN403C-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN403c250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN403c.png"
                                alt="ELCB-3P-EBN403C-300A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN403c300A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN403c.png"
                                alt="ELCB-3P-EBN403C-350A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN403c350A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN403c.png"
                                alt="ELCB-3P-EBN403C-400A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN203c400A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN803C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 3P (3 Pha) EBN803c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN803c.png"
                                alt="ELCB-3P-EBN803C-500A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN803c500A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN803c.png"
                                alt="ELCB-3P-EBN803C-630A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN803c630A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN803c.png"
                                alt="ELCB-3P-EBN803C-800A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 3P (3 pha 3 cực)
                                EBN803c800A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
