<!-- 32GRc-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) 32GRc
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRc.png"
                                alt="ELCB-2P-32GRc-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRc15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRc.png"
                                alt="ELCB-2P-32GRc-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRc20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRc.png"
                                alt="ELCB-2P-32GRc-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRc30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 32GRhS-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) 32GRhS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhS.png"
                                alt="ELCB-2P-32GRhS-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhS15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhS.png"
                                alt="ELCB-2P-32GRhS-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhS20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhS.png"
                                alt="ELCB-2P-32GRhS-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhS30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 32GRhd-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) 32GRhd
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhd.png"
                                alt="ELCB-2P-32GRhd-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhd15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhd.png"
                                alt="ELCB-2P-32GRhd-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhd20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32GRhd.png"
                                alt="ELCB-2P-32GRhd-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32GRhd30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 32KGRd-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) 32KGRd
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32KGRd.png"
                                alt="ELCB-2P-32KGRd-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32KGRd15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32KGRd.png"
                                alt="ELCB-2P-32KGRd-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32KGRd20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-32KGRd.png"
                                alt="ELCB-2P-32KGRd-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                32KGRd30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKP1P+N-->
<section class="home-body">
    <div class="product">
        <h2 id="RCBOLS1PN" class="product__tille">
            Aptomat RCBO CB chống rò chống giật 2P (2pha) RKP1P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-3A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N3A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N6A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N10A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKP.png"
                                alt="RCBO-2P-RKP-1P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKP1P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKC1P+N-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat RCBO CB chống rò chống giật 2P (2pha) RKC1P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N6A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N10A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKC.png"
                                alt="RCBO-2P-RKC-1P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKC1P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKS1P+N-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat RCBO CB chống rò chống giật 2P (2pha) RKS1P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N6A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N10A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCBO-cb-chong-giat-RKS.png"
                                alt="RCBO-2P-RKS-1P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCBO CB chống giật 2P (1 pha 2 cực)
                                RKS1P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKN1P+N-->
<section class="home-body">
    <div class="product">
        <h2 id="RCCBLS1PN" class="product__tille">
            Aptomat RCCB CB chống rò chống giật 2P (2pha) RKN1P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-1P.png"
                                alt="RCCB-2P-RKN-1P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN1P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-1P.png"
                                alt="RCCB-2P-RKN-1P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN1P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-1P.png"
                                alt="RCCB-2P-RKN-1P+N-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN1P+N40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-1P.png"
                                alt="RCCB-2P-RKN-1P+N-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN1P+N63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKN-b1P+N-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat RCCB CB chống rò chống giật 2P (2pha) RKN-b1P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-1P.png"
                                alt="RCCB-2P-RKN-b-1P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN-b1P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-1P.png"
                                alt="RCCB-2P-RKN-b-1P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN-b1P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-1P.png"
                                alt="RCCB-2P-RKN-b-1P+N-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN-b1P+N40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-1P.png"
                                alt="RCCB-2P-RKN-b-1P+N-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 2P (1 pha 2 cực)
                                RKN-b1P+N63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBS52Fb-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) EBS52Fb
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS52Fb.png"
                                alt="ELCB-2P-EBS52Fb-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBS52Fb40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS52Fb.png"
                                alt="ELCB-2P-EBS52Fb-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBS52Fb50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBE102Fb-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) EBE102Fb
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBE102fb.png"
                                alt="ELCB-2P-EBE102Fb-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBE102Fb60A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBE102fb.png"
                                alt="ELCB-2P-EBE102Fb-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBE102Fb75A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBE102fb.png"
                                alt="ELCB-2P-EBE102Fb-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBE102Fb100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN52C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) EBN52C
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN52c.png"
                                alt="ELCB-2P-EBN52C-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN52C15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN52c.png"
                                alt="ELCB-2P-EBN52C-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN52C20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN52c.png"
                                alt="ELCB-2P-EBN52C-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN52C30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN52c.png"
                                alt="ELCB-2P-EBN52C-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN52C40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN52c.png"
                                alt="ELCB-2P-EBN52C-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN52C50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN102c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 2P (2pha) EBN102c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN102c.png"
                                alt="ELCB-2P-EBN102c-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN102c60A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN102c.png"
                                alt="ELCB-2P-EBN102c-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN102c75A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN102c.png"
                                alt="ELCB-2P-EBN102c-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 2P (1 pha 2 cực)
                                EBN102c100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
