<!-- RKN3P+N-->
<section class="home-body">
    <div class="product">
        <h2 id="RCCBLS3PN" class="product__tille">
            Aptomat RCCB CB chống rò chống giật 4P (3 Pha 4 cực) RKN3P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-3P.png"
                                alt="RCCB-4P-RKN-3P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN3P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-3P.png"
                                alt="RCCB-4P-RKN-3P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN3P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-3P.png"
                                alt="RCCB-4P-RKN-3P+N-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN3P+N40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-3P.png"
                                alt="RCCB-4P-RKN-3P+N-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN3P+N63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RKN-b3P+N-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat RCCB CB chống rò chống giật 4P (4Pha) RKN-b3P+N
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-3P.png"
                                alt="RCCB-4P-RKN-b-3P+N-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN-b3P+N25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-3P.png"
                                alt="RCCB-4P-RKN-b-3P+N-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN-b3P+N32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-3P.png"
                                alt="RCCB-4P-RKN-b-3P+N-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN-b3P+N40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-RCCB-cb-chong-giat-RKN-b-3P.png"
                                alt="RCCB-4P-RKN-b-3P+N-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat RCCB CB chống giật 4P (3 pha 4 cực)
                                RKN-b3P+N63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBN104C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 4P (3 Pha 4 cực) EBN104c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c60A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c75A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBN104c.png"
                                alt="ELCB-4P-EBN104C-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBN104c100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBS104C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 4P (3 Pha 4 cực) EBS104c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c15A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c30A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c60A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c75A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS104c.png"
                                alt="ELCB-4P-EBS104C-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS104c125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBS204C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 4P (3 Pha 4 cực) EBS204c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-150A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c150A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-175A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c175A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-200A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c200A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-225A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c225A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS204c.png"
                                alt="ELCB-4P-EBS204C-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS204c250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EBS404C-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">
            Aptomat ELCB CB chống rò chống giật 4P (3 Pha 4 cực) EBS404c
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS404c.png"
                                alt="ELCB-4P-EBS404C-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS404c250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS404c.png"
                                alt="ELCB-4P-EBS404C-300A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS404c300A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS404c.png"
                                alt="ELCB-4P-EBS404C-350A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS404c350A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ELCB-cb-chong-giat-EBS404c.png"
                                alt="ELCB-4P-EBS404C-400A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat ELCB CB chống giật 4P (3 pha 4 cực)
                                EBS404c400A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
