<div class="container">
    <div class="botton-bar">
        <div class="botton-bar__info">
            <p>ĐẠI LÝ PHÂN PHỐI THIẾT BỊ ĐIỆN LS CHÍNH HÃNG</p>
            <br />
            <p>VP Hà Nội: Gamuda Gardens, Phường Trần Phú, Quận Hoàng Mai, TP. Hà Nội</p>
            <p>VP Hồ Chí Minh: Bạch Mã, Phường 15, Quận 10, TP.Hồ Chí Minh</p>
            <br />
            <div class="botton-bar__info__contact">
                <span>Liên hệ: Ms Uyên 0829.666.456 | Mr Dũng 0774.666.456</span>
            </div>
        </div>
        <div class="botton-bar__product">
            <span> SẢN PHẨM</span>
            <ul>
                <li>
                    <a href="#!">Dây cáp điện</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện công nghiệp</a>
                </li>
                <li>
                    <a href="#!">Thiết bị điện dân dụng (Công tắc- Ổ Cắm)</a>
                </li>
                <li>
                    <a href="#!">Thiết bị chiếu sáng</a>
                </li>
                <li>
                    <a href="#!">Tụ bù- Cuộn kháng Reactor</a>
                </li>
                <li>
                    <a href="#!">Vật tư phụ</a>
                </li>
            </ul>
        </div>

        <div class="botton-bar__support"></div>
    </div>
    <!-- <div class="contact-all-in-one">
        <div class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-cricle-fill"></div>
                <div class="phone-vr-cricle">
                    <a target="_blank" href="">
                        <img src="/assets/icon/zalo1.png" alt="" />
                    </a>
                </div>
            </div>
            <div class="phone-vr">
                <div class="phone-vr-cricle-fill"></div>
                <div class="phone-vr-cricle">
                    <a target="_blank" href="">
                        <img src="/assets/icon/phone.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="contact-all-in-on">
        <div class="button-contact">
            <div class="button-contact__border"></div>
            <div class="button-contact__item">
                <a href="https://zalo.me/0829666456" target="blank" class="button-contact__link">
                    <img alt="zalo" src="/assets/icon/zalo1.png" class="button-contact__img" />
                </a>
                <a href="https://zalo.me/0829666456" target="blank" class="button-contact__content"
                    >Chi nhánh Hà Nội
                </a>
            </div>
        </div>
        <div class="button-contact">
            <div class="button-contact__border"></div>
            <div class="button-contact__item">
                <a href="https://zalo.me/0829666456" target="blank" class="button-contact__link">
                    <img alt="zalo" src="/assets/icon/zalo1.png" class="button-contact__img" />
                </a>
                <a href="https://zalo.me/0774666456" target="blank" class="button-contact__content"
                    >Chi nhánh Hồ chí Minh
                </a>
            </div>
        </div>
        <div class="button-contact">
            <div class="button-contact__border phone-ct"></div>
            <div class="button-contact__item phone-ct">
                <a href="https://zalo.me/0829666456" target="blank" class="button-contact__link">
                    <img alt="zalo" src="/assets/icon/phone.png" class="button-contact__img" />
                </a>
                <a href="tel:0829666456" target="blank" class="button-contact__content"></a>
            </div>
        </div>

        <!-- <div class="hotline">
            <a href="tel:0829666456">
                <img alt="hotline" src="/assets/icon/hotline.png" />
            </a>
            <a href="tel:0829666456">0829.666.456 </a>
        </div>
        <div class="zalo"></div>
            <a href="https://zalo.me/0587666456" target="blank">
                <img alt="zalo" src="/assets/icon/zalo.png" />
            </a>
            <a href="https://zalo.me/0587666456" target="blank"
                >0829.666.456
            </a>
        </div>

        <div class="hotline">
            <a href="tel:0829666456">
                <img alt="hotline" src="/assets/icon/hotline.png" />
            </a>
            <a href="tel:0587666456">0587.666.456 </a>
        </div> -->
    </div>
</div>
