<div class="container">
    <div class="top-bar">
        <div class="sub-header">
            <span>Đại lý phân phối thiết bị điện LS chính hãng</span>
        </div>
        <div class="body-header">
            <div class="body-header__logo">
                <a href="/">
                    <img
                        src="/assets/img/logo-thiet-bi-dien-ls-vip.png"
                        alt="logo-thiet-bi-dien-ls"
                    />
                </a>
            </div>

            <div class="body-header__contact">
                <!-- <div class="body-header__contact__details">
                    <img
                        src="/assets/icon/call-dropped-svgrepo-com.svg"
                        alt="Hotline"
                        class="icon body-header__contact__details__icon"
                    />
                    <div class="body-header__contact__details__call">
                        <span>Hotline bán hàng</span>
                        <a href="tel:0829666456">0829.666.456</a>
                    </div>
                </div> -->
                <div class="body-header__contact__details"></div>
                    <img
                        src="/assets/icon/call-dropped-svgrepo-com.svg"
                        alt="Hotline"
                        class="icon body-header__contact__details__icon"
                    />
                    <div class="body-header__contact__details__call">
                        <span>Hotline bán hàng</span>
                        <a href="tel:0587666456">0587.666.456</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="navbar__list">
            <a class="navbar__list__details" href="">Trang chủ</a>

            <a class="navbar__list__details document" href="/tin-tuc.html"
                >Tin tức</a
            >
            <a
                class="navbar__list__details document"
                href="/bang-gia-thiet-bi-dien-LS-2024-moi-nhat.html"
                >Bảng giá</a
            >
            <a class="navbar__list__details document" href="/catalog.html"
                >Catalogue</a
            >
            <a class="navbar__list__details" href="">Chính sách bán hàng</a>
        </div>
    </nav>
</div>
