<div class="container">
    <div class="introduce">
        <div class="introduce-top">
            <h2>THIẾT BỊ ĐIỆN AN KHANG</h2>
            <span class="introduce-top__address">
                <p>
                    <img
                        class="icon"
                        src="/assets/icon/home.svg"
                        alt="Address"
                    />
                    VP Hà Nội: G58, Khu đô thị Xa La, Hà Đông, Hà Nội
                </p>
                <p>
                    <img
                        class="icon"
                        src="/assets/icon/home.svg"
                        alt="Address"
                    />
                    VP Đà Nẵng: Lô 9 KĐT Phương Trang, Đường Hoàng Thị Loan, P.
                    Hòa Minh, Quận Liên Chiểu,Đà Nẵng
                </p>
                <p>
                    <img
                        class="icon"
                        src="/assets/icon/home.svg"
                        alt="Address"
                    />
                    VP Hồ Chí Minh: 281 Nam Kỳ Khởi Nghĩa, Phường 14, Quận 3,
                    Thành phố Hồ Chí Minh
                </p>
            </span>
            <span class="introduce-top__phone">
                <img class="icon" src="/assets/icon/mail.svg" alt="mail" />
                <a href="mailto:tbd.ankhang@gmail.com">tbd.ankhang@gmail.com</a>
                |
                <img class="icon" src="/assets/icon/mobile-notch.svg" alt="" />
                <a href="tel:0829666456">0829.666.456</a>
            </span>
            <p>
                <b>Thiết bị điện An Khang</b> là nhà cung cấp sỉ, lẻ thiết bị
                điện xây dựng dân dụng và công nghiệp. Chúng tôi hiện hợp tác
                cùng nhiều nhà sản xuất, nhà nhập khẩu thiết bị điện hàng đầu
                Việt Nam và thế giới. ,<b>Chất lượng</b> sản phẩm chúng tôi phân
                phối đến khách hàng được quản lý chặt chẽ từ khâu chọn sản phẩm,
                nhà sản xuất, nhà nhập khẩu đến khâu dịch vụ hậu mãi, bảo hành,
                bảo trì sản phẩm.
            </p>
        </div>
        <div class="introduce-body">
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon1"></i>
                <span>
                    <h4>Phân phối Sỉ & Lẻ</h4>
                    <p>GIÁ SỈ BÁN LẺ</p>
                    <p>
                        Phân phối và Bán lẻ thiết bị điện dân dụng/công nghiệp.
                        Hỗ trợ vẫn chuyển đến các tỉnh thành.
                    </p>
                </span>
            </div>
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon2"></i>
                <span>
                    <h4>Thiết kế và Thi công</h4>
                    <p>
                        Hệ thống điện công nghiệp <br />
                        Hệ thống điện tự động <br />
                        Hệ thống Camera an ninh <br />
                        Hệ thống Nhà thông minh
                    </p>
                </span>
            </div>
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon3"></i>
                <span>
                    <h4>Dịch vụ & Tư vấn</h4>
                    <p>
                        Tư vấn sản phẩm đầy đủ rõ ràng kèm thông số kỹ thuật và
                        hình ảnh, hướng dẫn lắp đặt, vận hành, sử dụng.
                    </p>
                </span>
            </div>
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon4"></i>
                <span>
                    <h4>Giá sản phẩm</h4>
                    <p>
                        Cam kết tốt nhất so với sản phẩm cùng chất lượng trên
                        thị trường trong khu vực.
                    </p>
                </span>
            </div>
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon5"></i>
                <span>
                    <h4>Chất lượng sản phẩm</h4>
                    <p>
                        Mới, đúng nhãn hiệu, đúng xuất xứ, đúng thông số kỹ
                        thuật mà nhà sản xuất, nhập khẩu đã cung cấp.
                    </p>
                </span>
            </div>
            <div class="introduce-body__item">
                <i class="introduce-body__item__icon6"></i>
                <span>
                    <h4>Bảo hành</h4>
                    <p>
                        Đổi mới theo đúng điều khoản bảo hành của nhà sản xuất
                        hoặc theo qui định bảo hành của công ty.
                    </p>
                </span>
            </div>
        </div>
    </div>
</div>
