<div class="body-page__right">
    <a href="/thiet-bi-dong-cat-dien-ls-ha-the.html">
        <img src="/assets/img/logo-thiet-bi-dien-ls.png" alt="tu-bu-samwha" />
        <h2 class="body-page__right_h2">Thiêt bị điện LS</h2>
    <a href="/tu-bu/tu-bu-samwha.html">
        <img src="/assets/img/logo-samwha.png" alt="tu-bu-samwha" />
        <h2 class="body-page__right_h2">Tụ Bù Samwha</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/tu-bu-nuintek.html">
        <img src="/assets/img/logo-nuintek-ngang.png" alt="tu-bu-Nuintek" />
        <h2 class="body-page__right_h2">Tụ Bù Nuintek</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/tu-bu-eunsung.html">
        <img src="/assets/img/logo-eunsung.png" alt="tu-bu-eunsung" />
        <h2 class="body-page__right_h2">Tụ Bù Eunsung</h2>
    </a>
</div>
