<div class="body-page__right">
    <a href="/thiet-bi-dong-cat-dien-ls-ha-the.html">
        <img src="/assets/img/logo-thiet-bi-dien-ls.png" alt="thiết bị điện LS" />
        <h2 class="body-page__right_h2">Thiết bị điện LS</h2>
    </a>

    <a href="/tu-bu/tu-bu-samwha.html">
        <img src="/assets/img/logo-samwha.png" alt="tụ bù Samwha" />
        <h2 class="body-page__right_h2">Tụ Bù Samwha</h2>
    </a>

    <a href="/thiet-bi-dien-cong-nghiep/tu-bu-nuintek.html">
        <img src="/assets/img/logo-nuintek-ngang.png" alt="tụ bù Nuintek" />
        <h2 class="body-page__right_h2">Tụ Bù Nuintek</h2>
    </a>

    <a href="/thiet-bi-dien-cong-nghiep/tu-bu-eunsung.html">
        <img src="/assets/img/logo-eunsung.png" alt="tụ bù Eunsung" />
        <h2 class="body-page__right_h2">Tụ Bù Eunsung</h2>
    </a>
</div>
