<div class="body-page__right">
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ls.html">
        <img src="/assets/img/thiet-bi-dien-ls-1.png" alt="thiet-bi-dien-LS" />
        <h2 class="body-page__right_h2">Thiết bị điện LS</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Huyndai.html">
        <img
            src="/assets/img/thiet-bi-dien-huyndai.png"
            alt="thiet-bi-dien-Huyndai"
        />
        <h2 class="body-page__right_h2">Thiết bị điện Huyndai</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Mitsubishi.html">
        <img
            src="/assets/img/thiet-bi-dien-Mitsubishi.png"
            alt="thiet-bi-dien-Mitsubishi"
        />
        <h2 class="body-page__right_h2">Thiết bị điện Mitsubishi</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Schneider.html">
        <img
            src="/assets/img/thiet-bi-dien-Schneider.png"
            alt="thiet-bi-dien-Schneider"
        />
        <h2 class="body-page__right_h2">Thiết bị điện Schneider</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-ABB.html">
        <img src="/assets/img/thiet-bi-dien-ABB.png" alt="thiet-bi-dien-ABB" />
        <h2 class="body-page__right_h2">Thiết bị điện ABB</h2>
    </a>
    <a href="/thiet-bi-dien-cong-nghiep/thiet-bi-dien-Chint.html">
        <img
            src="/assets/img/thiet-bi-dien-chint.png"
            alt="thiet-bi-dien-Chint"
        />
        <h2 class="body-page__right_h2">Thiết bị điện Chint</h2>
    </a>
</div>
