<!-- MC3p220V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-3P220v" class="product__tille">
            Khởi Động Từ Contactor MC 3P (3 Pha) Điện áp 220V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC9a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC9a220V(MC-9a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC12a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC12a220V(MC-12a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC18a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC18a220V(MC-18a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC22a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC22a220V(MC-22a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC9b-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC9b220V(MC-9a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC12b-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC12b220V(MC-12b220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC18b-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC18b220V(MC-18b220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC22b-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC22b220V(MC-22b220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC32a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC32a220V(MC-32a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC40a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC40a220V(MC-40a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC50a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC50a220V(MC-50a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC65a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC65a220V(MC-65a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC75a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC75a220V(MC-75a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC85a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC85a220V(MC-85a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC100a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC100a220V(MC-100a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC130a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC130a220V(MC-130a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC150a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC150a220V(MC-150a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC185a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC185a220V(MC-185a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC225a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC225a220V(MC-225a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC265a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC265a220V(MC-265a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC330a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC330a220V(MC-330a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC400a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC400a220V(MC-400a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC500a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC500a220V(MC-500a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC630a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC630a220V(MC-630a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC800a-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC800a220V(MC-800a220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MC3p380V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-3P380V" class="product__tille">
            Khởi Động Từ Contactor MC 3P (3 Pha) Điện áp 380V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC9a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC9a380V(MC-9a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC12a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC12a380V(MC-12a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC18a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC18a380V(MC-18a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9a-22a.png"
                                alt="khoi-dong-tu-3P-MC22a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC22a380V(MC-22a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC9b-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC9b380V(MC-9a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC12b-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC12b380V(MC-12b380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC18b-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC18b380V(MC-18b380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC22b-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC22b380V(MC-22b380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC32a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC32a380V(MC-32a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-9b-22b.png"
                                alt="khoi-dong-tu-3P-MC40a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC40a380V(MC-40a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC50a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC50a380V(MC-50a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC65a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC65a380V(MC-65a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC75a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC75a380V(MC-75a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC85a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P MC85a380V(MC-85a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC100a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC100a380V(MC-100a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC130a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC130a380V(MC-130a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-65-150.png"
                                alt="khoi-dong-tu-3P-MC150a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC150a380V(MC-150a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC185a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC185a380V(MC-185a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC225a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC225a380V(MC-225a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-185-265.png"
                                alt="khoi-dong-tu-3P-MC265a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC265a380V(MC-265a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC330a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC330a380V(MC-330a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC400a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC400a380V(MC-400a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC500a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC500a380V(MC-500a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC630a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC630a380V(MC-630a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/khoi-dong-tu-Contactor-3P-LS-MC-330-800A.png"
                                alt="khoi-dong-tu-3P-MC800a-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 3P
                                MC800a380V(MC-800a380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MR-220V-->
<section class="home-body">
    <div class="product">
        <h2 id="MR-3P220V" class="product__tille">
            Khởi Động Từ Contactor MC 3P (3 Pha) Điện áp 380V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-4"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-4 AC220V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-6"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-6 AC220V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-8"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-8 AC220V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MR-380V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-3P380V" class="product__tille">
            Khởi Động Từ Contactor MC 3P (3 Pha) Điện áp 380V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-4"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-4 AC380V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-6"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-6 AC380V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-8"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-8 AC380V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MR-24V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-3P24V" class="product__tille">
            Khởi Động Từ Contactor MC 3P (3 Pha) Điện áp 24V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-4"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-4 DC24V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-6"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-6 DC24V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Contactor-relays-MR.png"
                                alt="Contactor-relays-MR-8"
                            />
                            <h3 class="product__group__list__item__tille">
                                Contactor Relays MR-8 DC24V
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
