<!-- MC4P220V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-4P220v" class="product__tille">
            Khởi Động Từ Contactor MC 4P (4 Pha) Điện áp 220V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC9a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC9a/4 220V(MC-9a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC12a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC12a/4 220V(MC-12a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC18a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC18a/4 220V(MC-18a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC22a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC22a/4 220V(MC-22a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>

                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9b4-22b.png"
                                alt="khoi-dong-tu-4P-MC32a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC32a/4 220V(MC-32a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9b4-22b.png"
                                alt="khoi-dong-tu-4P-MC40a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC40a/4 220V(MC-40a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC50a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC50a/4 220V(MC-50a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC65a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC65a/4 220V(MC-65a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC75a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC75a/4 220V(MC-75a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC85a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC85a/4 220V(MC-85a/4
                                220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC100a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC100a/4
                                220V(MC-100a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC130a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC130a/4
                                220V(MC-130a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC150a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC150a/4
                                220V(MC-150a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC185a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC185a/4
                                220V(MC-185a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC225a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC225a/4
                                220V(MC-225a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC265a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC265a/4
                                220V(MC-265a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC330a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC330a/4
                                220V(MC-330a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC400a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC400a/4
                                220V(MC-400a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC500a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC500a/4
                                220V(MC-500a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC630a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC630a/4
                                220V(MC-630a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC800a-4-220V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC800a/4
                                220V(MC-800a/4 220V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MC4P380V-->
<section class="home-body">
    <div class="product">
        <h2 id="MC-4P380V" class="product__tille">
            Khởi Động Từ Contactor MC 4P (4 Pha) Điện áp 380V
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC9a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC9a/4 380V(MC-9a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC12a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC12a/4 380V(MC-12a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC18a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC18a/4 380V(MC-18a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9a4-22a.png"
                                alt="khoi-dong-tu-4P-MC22a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC22a/4 380V(MC-22a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>

                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9b4-22b.png"
                                alt="khoi-dong-tu-4P-MC32a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC32a/4 380V(MC-32a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-9b4-22b.png"
                                alt="khoi-dong-tu-4P-MC40a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC40a/4 380V(MC-40a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC50a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC50a/4 380V(MC-50a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC65a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC65a/4 380V(MC-65a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC75a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC75a/4 380V(MC-75a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC85a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC85a/4 380V(MC-85a/4
                                380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC100a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC100a/4
                                380V(MC-100a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC130a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC130a/4
                                380V(MC-130a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-654-150.png"
                                alt="khoi-dong-tu-4P-MC150a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC150a/4
                                380V(MC-150a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC185a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC185a/4
                                380V(MC-185a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC225a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC225a/4
                                380V(MC-225a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-1854-265.png"
                                alt="khoi-dong-tu-4P-MC265a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC265a/4
                                380V(MC-265a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC330a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC330a/4
                                380V(MC-330a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC400a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC400a/4
                                380V(MC-400a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC500a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC500a/4
                                380V(MC-500a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC630a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC630a/4
                                380V(MC-630a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/thiet bi dien/LS/khoi-dong-tu-Contactor-4P-LS-MC-3304-800A.png"
                                alt="khoi-dong-tu-4P-MC800a-4-380V"
                            />
                            <h3 class="product__group__list__item__tille">
                                Khởi động từ Contactor 4P MC800a/4
                                380V(MC-800a/4 380V)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
