<!-- BKJ-->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKJ 2P 6kA LS|BKJ63N2P
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 6A (1 Pha 2
                                cực)|BKJ63N 2P 6A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 10A(1 Pha 2
                                cực)|BKJ63N 2P 10A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 16A (1 Pha 2
                                cực)|BKJ63N 2P 16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 20A (1 Pha 2
                                cực)|BKJ63N 2P 20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 25A (1 Pha 2
                                cực)|BKJ63N 2P 25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 32A (1 Pha 2
                                cực)|BKJ63N 2P 32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 40A (1 Pha 2
                                cực)|BKJ63N 2P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 50A (1 Pha 2
                                cực)|BKJ63N 2P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKJ-2P-2-Pha-6kA-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKJ 2P 6kA 63A (1 Pha 2
                                cực)|BKJ63N 2P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BKN -->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKN 2P 6kA LS|BKN63N2P
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 6A (1 Pha 2
                                cực)|BKN63N 2P 6A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 10A(1 Pha 2
                                cực)|BKN63N 2P 10A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 16A (1 Pha 2
                                cực)|BKN63N 2P 16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 20A (1 Pha 2
                                cực)|BKN63N 2P 20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 25A (1 Pha 2
                                cực)|BKN63N 2P 25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 32A (1 Pha 2
                                cực)|BKN63N 2P 32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 40A (1 Pha 2
                                cực)|BKN63N 2P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 50A (1 Pha 2
                                cực)|BKN63N 2P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-2P-2-Pha-6kA-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN 2P 6kA 63A (1 Pha 2
                                cực)|BKN63N 2P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
