<!-- BKN-b-->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKN-b 3P 10ka LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 6A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-10A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 10A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 16A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 20A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 25A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 32A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 40A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 50A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKN-b-3P-3-Pha-10kA-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKN-b 3P 10kA 63A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BKH -->
<section class="home-body">
    <div class="product">
        <h2 id="Aptomat-MCB-LS" class="product__tille">
            Aptomat tép cài MCB BKH 3P 10ka LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-80A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKH 3P 10kA 80A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKH 3P 10kA 100A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-LS.png"
                                alt="Aptomat-tep-MCB-BKH-3P-3-Pha-10kA-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat tép MCB BKH 3P 10kA 125A (3 Pha 3 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
