<!-- ABN54c-->
<section class="home-body">
    <div class="product">
        <h2 id="MCCB-ABN4P" class="product__tille">
            Aptomat MCCB ABN54c 18kA LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN54c-15A-18ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN54c 15A 18kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN54c-20A-18ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN54c 20A 18kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN54c-4P-30A-18ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN54c 30A 18kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN54c-40A-18ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN54c 40A 18kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN54c-50A-18ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN54c 50A 18kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABN104c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN104c 22kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-15A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 15A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-20A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 20A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-4P-30A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 30A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-40A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 40A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-50A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 50A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-60A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 60A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-75A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 75A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN104c-100A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN104c 100A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN204c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN204c 30kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-100A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 100A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-125A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 125A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-150A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 150A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-175A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 175A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-200A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 200A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-225A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 225A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN204c-250A-30ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN204c 250A 30kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN404c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN404c 42kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN404c-250A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN404c 250A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN404c-300A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN404c 300A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN404c-350A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN404c 350A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN404c-400A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN404c 400A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN804c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN804c 45kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN804c-500A-45ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN804c 500A 45kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN804c-630A-45ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN804c 630A 45kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN804c-700A-45ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN804c 700A 45kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN804c-800A-45ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN804c 800A 45kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS54c-->
<section class="home-body">
    <div class="product">
        <h2 id="MCCB-ABS4P" class="product__tille">
            Aptomat MCCB ABS54c 22kA LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS54c-15A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS54c 15A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS54c-20A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS54c 20A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS54c-4P-30A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS54c 30A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS54c-40A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS54c 40A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS54c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS54c-50A-22ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS54c 50A 22kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS104c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS104c 42kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-15A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 15A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-20A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 20A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-30A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 30A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-40A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 40A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-50A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 50A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-60A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 60A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-75A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 75A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-100A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 100A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS104c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS104c-125A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS104c 125A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS204c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS204c 42kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-125A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 125A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-150A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 150A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-175A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 175A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-200A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 200A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-225A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 225A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS204c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS204c-250A-42ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS204c 250A 42kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS404c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS404c 65kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS404c-250A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS404c 250A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS404c-300A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS404c 300A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS404c-350A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS404c 350A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS404c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS404c-400A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS404c 400A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS804c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS804c 75kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS804c-500A-75ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS804c 500A 75kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS804c-630A-75ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS804c 630A 75kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS804c-700A-75ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS804c 700A 75kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS804c-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS804c-800A-75ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS804c 800A 75kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS1004b-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS1004b-1000A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS1004b 1000A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS1204b-4P-3-pha-4-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS1204b-1200A-65ka-3-pha-4-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS1204b 1200A 65kA (3 Pha 4 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
