<!-- FTU-->
<section class="home-body">
    <div class="product">
        <h2 id="TSTDFTU4P" class="product__tille">
            Aptomat (MCCB) CB Susol 4P ( 3 pha 4 cực) loại không chỉnh dòng
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>

                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-80A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 80A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FTU100
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD160N-FTU160-FMU160-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD160N FTU160
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD160N-FTU160-FMU160-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD160N FTU160
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FTU100
                                4P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FTU100
                                4P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FTU100
                                4P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-80A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FTU100
                                4P 80A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FTU100
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FTU160
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FTU160
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FTU160
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FTU250
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FTU250
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-200A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FTU250
                                4P 200A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FTU250
                                4P 250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS400N-FTU400-FMU400-4P-300A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS400N FTU400
                                4P 300A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS400N-FTU400-FMU400-4P-400A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS400N FTU400
                                4P 400A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS630N-FTU630-FMU630-4P-500A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS630N FTU630
                                4P 500A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS630N-FTU630-FMU630-4P-630A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS630N FTU630
                                4P 630A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-800A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS800N FTU800
                                4P 800A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FMU-->
<section class="home-body">
    <div class="product">
        <h2 id="TSTDFMU4P" class="product__tille">
            Aptomat (MCCB) CB Susol 4P ( 3 pha 4 cực) loại chỉnh dòng (nhiệt) 3
            buớc 0.8, 0.9, 1.0 x ln
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 16A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 20A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 25A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 32A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>

                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-80A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 80A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD100N-FTU100-FMU100-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD100N FMU100
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD160N-FTU160-FMU160-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD160N FMU160
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TD160N-FTU160-FMU160-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TD160N FMU160
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FMU100
                                4P 40A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FMU100
                                4P 50A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-63A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FMU100
                                4P 63A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-80A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FMU100
                                4P 80A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS100N-FTU100-FMU100-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS100N FMU100
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FMU160
                                4P 100A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FMU160
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS160N-FTU160-FMU160-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS160N FMU160
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FMU250
                                4P 125A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FMU250
                                4P 160A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-200A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FMU250
                                4P 200A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS250N-FTU250-FMU250-4P-250A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS250N FMU250
                                4P 250A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS400N-FTU400-FMU400-4P-300A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS400N FMU400
                                4P 300A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS400N-FTU400-FMU400-4P-400A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS400N FMU400
                                4P 400A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS630N-FTU630-FMU630-4P-500A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS630N FMU630
                                4P 500A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS630N-FTU630-FMU630-4P-630A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS630N FMU630
                                4P 630A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-cb-susol-LS-4P.png"
                                alt="TS800N-FTU800-FMU800-4P-800A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat CB Susol 4P (3 pha 4 cực) TS800N FMU800
                                4P 800A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
