<!-- ABN52c-->
<section class="home-body">
    <div class="product">
        <h2 id="MCCB-ABN2P" class="product__tille">
            Aptomat MCCB ABN52c 30kA LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN52c-15A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN52c 15A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN52c-20A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN52c 20A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN52c-30A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN52c 30A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN52c-40A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN52c 40A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN52c-50A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN52c 50A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN62c-63A-30ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN62c 60A 30kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN102c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN102c 35kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-15A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 15A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-20A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 20A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-30A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 30A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-40A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 40A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-50A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 50A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-60A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 60A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-75A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 75A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN102c-100A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN102c 100A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN202c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN202c 65kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-125A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 125A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-150A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 150A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-175A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 175A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-200A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 200A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-225A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 225A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN202c-250A-65ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN202c 250A 65kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABN402c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABN402c 50kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN402c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN402c-250A-50ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN402c 250A 50kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN402c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN402c-300A-50ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN402c 300A 50kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN402c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN402c-350A-50ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN402c 350A 50kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABN402c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABN402c-400A-50ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABN402c 400A 50kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS32c-->
<section class="home-body">
    <div class="product">
        <h2 id="MCCB-ABS2P" class="product__tille">
            Aptomat MCCB ABS32c 25kA LS
        </h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS32c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS32c-5A-25ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS32c 5A 25kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS32c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS32c-10A-25ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS32c 10A 25kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS32c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS32c-15A-25ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS32c 15A 25kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS32c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS32c-20A-25ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS32c 20A 25kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS32c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS32c-30A-25ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS32c 30A 25kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS52c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS52c 35kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS52c-15A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS52c 15A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS52c-20A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS52c 20A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS52c-30A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS52c 30A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS52c-40A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS52c 40A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS52c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS52c-50A-35ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS52c 50A 35kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS102c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS102c 85kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-40A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 40A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-50A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 50A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-60A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 60A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-75A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 75A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-100A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 100A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS102c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS102c-125A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS102c 125A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ABS202c-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Aptomat MCCB ABS202c 85kA LS</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-125A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 125A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-150A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 150A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-175A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 175A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-200A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 200A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-225A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 225A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Aptomat-khoi-MCCB-ABS202c-1-pha-2-cuc-LS.png"
                                alt="aptomat-khoi-MCCB-ABS202c-250A-85ka-1-pha-2-cuc"
                            />
                            <h3 class="product__group__list__item__tille">
                                Aptomat MCCB ABS202c 250A 85kA (1 Pha 2 cực)
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
