<!-- MT12-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-12 | MT12</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-063-1A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (0.63-1)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-1-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (1-1.6)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-16-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (1.6-2.5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-25-4A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (2.5-4)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-4-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (4-6)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-5-8A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (5-8)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-6-9A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (6-9)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-5-8A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (7-10)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-9-13A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (9-13)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-12.png"
                                alt="Ro-le-nhiet-MT-12-12-18A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT12 | MT-12 (12-18)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- MT32-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-32 | MT32</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-063-1A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (0.63-1)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-1-16A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (1-1.6)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-16-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (1.6-2.5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-25-4A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (2.5-4)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-4-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (4-6)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-5-8A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (5-8)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-6-9A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (6-9)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-5-8A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (7-10)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-9-13A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (9-13)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-12-18A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (12-18)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-16-22A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (16-22)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-18-25A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (18-25)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-22-32A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (22-32)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-32.png"
                                alt="Ro-le-nhiet-MT-32-28-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT32 | MT-32 (28-40)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT63-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-63 | MT63</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-63.png"
                                alt="Ro-le-nhiet-MT-63-34-50A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT63 | MT-63 (34-50)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-63.png"
                                alt="Ro-le-nhiet-MT-63-45-65A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT63 | MT-63 (45-65)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT95-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-95 | MT95</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-95.png"
                                alt="Ro-le-nhiet-MT-95-54-75A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT95 | MT-95 (54-75)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-95.png"
                                alt="Ro-le-nhiet-MT-95-63-85A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT95 | MT-95 (63-85)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-95.png"
                                alt="Ro-le-nhiet-MT-95-70-95A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT95 | MT-95 (70-95)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-95.png"
                                alt="Ro-le-nhiet-MT-95-80-100A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT95 | MT-95 (80-100)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT150-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-150 | MT150</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-150.png"
                                alt="Ro-le-nhiet-MT-150-80-105A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT150 | MT-150 (80-105)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-150.png"
                                alt="Ro-le-nhiet-MT-150-95-130A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT150 | MT-150 (95-130)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-150.png"
                                alt="Ro-le-nhiet-MT-150-110-150A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT150 | MT-150 (110-150)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT225-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-225 | MT225</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-225.png"
                                alt="Ro-le-nhiet-MT-225-85-125A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT225 | MT-225 (85-125)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-225.png"
                                alt="Ro-le-nhiet-MT-225-100-160A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT225 | MT-225 (100-160)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-225.png"
                                alt="Ro-le-nhiet-MT-225-120-185A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT225 | MT-225 (120-185)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-225.png"
                                alt="Ro-le-nhiet-MT-225-160-240A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT225 | MT-225 (160-240)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT400-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-400 | MT400</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-400.png"
                                alt="Ro-le-nhiet-MT-400-200-330A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT400 | MT-400 (200-330)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-400.png"
                                alt="Ro-le-nhiet-MT-400-260-400A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT400 | MT-400 (260-400)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- MT800-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le nhiệt MT-800 | MT800</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-800.png"
                                alt="Ro-le-nhiet-MT-800-400-630A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT800 | MT-800 (400-630)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/Ro-le-nhiet-MT-800.png"
                                alt="Ro-le-nhiet-MT-800-520-800A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le nhiệt MT800 | MT-800 (520-800)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
