<!-- GMP22-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le Điện Tử GMP22 LS | GMP-22</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-2P-03-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-2P (0.3-1.5)A | GMP-22-2P
                                (0.3-1.5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-2P-1-5A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-2P (1-5)A | GMP-22-2P
                                (1-5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-2P-44-22A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-2P (4.4-22)A | GMP-22-2P
                                (4.4-22)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-3P-03-15A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-3P (0.3-1.5)A | GMP-22-3P
                                (0.3-1.5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-3P-1-5A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-3P (1-5)A | GMP-22-3P
                                (1-5)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP22.png"
                                alt="Ro-le-dien-tu-GMP22-3P-44-22A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP22-3P (4.4-22)A | GMP-22-3P
                                (4.4-22)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GMP40-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le Điện Tử GMP40 LS | GMP-40</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP40.png"
                                alt="Ro-le-dien-tu-GMP40-2P-4-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP40-2P (4-20)A | GMP-40-2P
                                (4-20)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP40.png"
                                alt="Ro-le-dien-tu-GMP40-2P-8-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP40-2P (8-40)A | GMP-40-2P
                                (8-40)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP40.png"
                                alt="Ro-le-dien-tu-GMP40-3P-4-20A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP40-3P (4-20)A | GMP-40-3P
                                (4-20)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP40.png"
                                alt="Ro-le-dien-tu-GMP40-3P-8-40A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP40-3P (8-40)A | GMP-40-3P
                                (8-40)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GMP60-T-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Rơ le Điện Tử GMP60-T LS | GMP-60-T</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP60T.png"
                                alt="Ro-le-dien-tu-GMP60-T-05-6A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP60-T (0.5-6)A | GMP-60-T
                                (0.5-6)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP60T.png"
                                alt="Ro-le-dien-tu-GMP60-T-3-30A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP60-T (3-30)A | GMP-60-T
                                (3-30)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/ro-le-dien-tu-GMP60T.png"
                                alt="Ro-le-dien-tu-GMP60-T-5-60A"
                            />
                            <h3 class="product__group__list__item__tille">
                                Rơ le Điện Tử LS GMP60-T (5-60)A | GMP-60-T
                                (5-60)A
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/thiet-bi-dien-ls-ngang.png"
                                alt="thiet-bi-dien-ls"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
