Tụ dầu 415V
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Tụ dầu Samwha 415V</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-10kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 10kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-15kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 15kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-20kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 20kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-25kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 25kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-30kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 30kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-40kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 40kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-dau-samwha-415V.png"
                                alt="tu-dau-samwha-415V-50kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ dầu Samwha 415V 50kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Tụ khô 440V-->
<section class="home-body">
    <div class="product">
        <h2 class="product__tille">Tụ khô Samwha 440V</h2>
        <div class="product__group">
            <div class="product__group__list">
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-10kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 10kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-15kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 15kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-20kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 20kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-25kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 25kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-30kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 30kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-40kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 40kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
                <div class="product__group__list__item">
                    <a href="">
                        <div class="product__group__list__item__product">
                            <img
                                src="/assets/img/tu-bu/tu-kho-samwha-440V.png"
                                alt="tu-kho-samwha-440V-50kVar"
                            />
                            <h3 class="product__group__list__item__tille">
                                Tụ khô Samwha 440V 50kVar
                            </h3>
                        </div>
                        <div class="product__group__list__item__logo">
                            <img
                                src="/assets/img/logo-samwha-ngang.png"
                                alt="tu-bu-samwha"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
